FIREBASE_PROJECT_ID=arjuntheprogrammer
FIRESTORE_DATABASE_ID=match-the-dots
SESSION_COOKIE_NAME=__session
SESSION_COOKIE_DOMAIN=
AUTH_REDIRECT_URL=https://arjuntheprogrammer.com/
GOOGLE_APPLICATION_CREDENTIALS=./secrets/arjuntheprogrammer-firebase-adminsdk-fbsvc-b210da0ec5.json

VITE_FIREBASE_API_KEY=YOUR_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=arjuntheprogrammer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=arjuntheprogrammer
VITE_FIREBASE_STORAGE_BUCKET=arjuntheprogrammer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=481070495879
VITE_FIREBASE_APP_ID=1:481070495879:web:a7e5112a3d6cf7b8006022
VITE_FIREBASE_MEASUREMENT_ID=G-HEPJNS0YDL
